/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'playfair-display';
    src: url('polices/playfair-display/PlayfairDisplay-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    background: url('images/black-stripes-background.jpg');
    font-family: "Comic Sans MS";
    color:
	 #ffffff ;
}

#bloc_page
{
    width: 1300px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: "Comic Sans MS";
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */



#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 58px;
    height: 80px;
}

header h1
{
    font-family:"Comic Sans MS";
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: "Comic Sans MS";
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.1em;
    color:#ffffff ;
    padding-bottom: 3px;
    text-decoration: none;
}

/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_kebab
{
    text-align: center;
}


aside img
{	  
    margin-right: 3px;
}

aside h1
{
	text-align: center;
}

/* Footer */

fieldset
{	text-align: center;
    font-size: 1.1em;
	background-color: #706b64;
}
footer
{
    display: flex;
    background:  url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{	text-align: center;
    font-size: 1.1em;
	color:#ff0000;
}


#adresse
{
    width: 28%;
}

#mes_photos
{
	text-align: center;
    width: 40%;
}

#mes_contacts
{
    width: 26%;
}

#mes_photos img
{
    width: 100px;
  	height: 100px;
    border: 1px solid #181818;
    margin-right: 2px;
}


.Acceuil
{
	color:#ff0000;
	font-family:"Comic Sans MS";
	font-size : 25px
}


.Rouge
{
	color:#ff0000;
	font-family:"Comic Sans MS";
	font-size : 15px
}



	






